<app-heading-panel title="Terms of service"></app-heading-panel>

<div class="principal-column mat-body-1">
  <p>
    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i>
  </p>
  <p>Sed eleifend, magna nec accumsan convallis:</p>
  <ul>
    <li>Lorem ipsum dolor</li>
    <li>Consectetur adipiscing elit</li>
    <li>Praesent fermentum neque</li>
  </ul>
  <section class="text-section">
    <h5>1. Lorem ipsum dolor sit amet</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum neque vel pretium placerat. Sed
      eleifend, magna nec accumsan convallis, diam enim sollicitudin mi, eget tempor mauris purus quis augue.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>2. Lorem ipsum dolor sit amet</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum neque vel pretium placerat. Sed
      eleifend, magna nec accumsan convallis, diam enim sollicitudin mi, eget tempor mauris purus quis augue.
    </p>
    <mat-divider></mat-divider>
  </section>
</div>
