<app-heading-panel title="Privacy policy"></app-heading-panel>
<div class="principal-column mat-body-1">
  <section class="text-section">
    <h5>How serious are you about protecting my privacy?</h5>
    <p>We are committed and take it very seriously!</p>
    <p>
      We will do all that we can to protect your personal information.
      We will never share your information with a third party aside from a few
      necessary cases. As specified in this 'privacy policy' or the 'terms of use'.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>Who manages {{ appName }}?</h5>
    <p>
      William Sando of {{ legalOwner }} (a UK limited company) currently manages this website.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>Where is {{ appName }}'s information stored?</h5>
    <p>
      All information is stored in Amazon Web Services (AWS). All information in our database has been safeguarded with industry standard hashing & security measures.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>What information do you have?</h5>
    <p>
      Information you have supplied to us upon registering and filling in your profile.
    </p>
    <ul>
      <li>
        This includes but is not limited to: name, email and organisation name.
      </li>
      <li>
        Your password which has been hashed far beyond recognition!
      </li>
    </ul>
    <p>
      Information you have supplied to us upon Google registration (If it applies)
    </p>
    <ul>
      <li>
        Including but not limited to: email, name, photo, and language preference.
      </li>
    </ul>
    <p>
      Information from your browser
    </p>
    <p>
      This information is used to help us provide a better personalised service for you and to better understand the audience that {{ appName }} has.
    </p>
    <ul>
      <li>
        Useragent string (what sort of browser you have)
      </li>
    </ul>
    <p>
      Google analytics
    </p>
    <p>
      We use Google analytics to gain access to other metrics about our user demographic. This doesn't contain any personal information about you.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>What about information I give to others?</h5>
    <p>This policy only covers information you give to us.</p>
    <p>
      This privacy policy only covers information given to {{ appName }}, it does not cover information you provide to other people when contacting them through
      this website.
    </p>
    <p>
      This policy does not cover information you provide to third party sites (that {{ appName }} works in co-operation with) this includes Google (for login purposes) and any other company {{ appName }} works in co-operation with.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>What do you use my information for?</h5>
    <p>
      We can use the information we hold about you in the following ways to:
    </p>
    <ul>
      <li>
        Optimise content on our site so that it is presented to you in the most
        effective manner for you and your computer/phone.
      </li>
      <li>
        Inform you about products or services that you requested from us or
        which we think are relevant to your interests (if you consented).
      </li>
      <li>
        Allow you to participate in any of our services.
      </li>
      <li>
        Carry out any obligations we have that have arisen from the contract entered
        into between you and us.
      </li>
      <li>
        Notify you about any changs to our 'terms of use', 'privacy policy' or any of our services.
      </li>
    </ul>
    <p>
      If you do not want us to use your data in this way, please notify us at
      <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a>. However, please
      note that this will discontinue your ability to use this website.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>Where will my information be visible?</h5>
    <p>
      Your information:
    </p>
    <p>
      TODO
    </p>
    <p>
      May be shared if we are forced to comply with a legal obligation to disclose your personal information to any authority or business; or to protect the property,
      rights or safety of {{ legalOwner }}. This includes providing information
      to other companies or authorities for the purposes of crime prevention, fraud protection
      or credit risk alleviation.
    </p>
    <p>
      May be shared, in the event that {{ appName }} is sold to any business or asset we may disclose
      your personal data to the prospective buyer.
    </p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>What if I email you for support?</h5>
    <p>We reserve the right to publish any support emails we receive (first removing all personally identifying information) to help other people who may be having the same issue.</p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>What if your Privacy policy changes?</h5>
    <p>We will update this document to keep you informed and also either send out an email or an alert notification will
      show up somewhere on the website.</p>
    <mat-divider></mat-divider>
  </section>
  <section class="text-section">
    <h5>How can I get in touch?</h5>
    <p>Drop us a line</p>
    <p>Contact as if you have any questions about this policy:</p>
    <p>
      email: <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a>
    </p>
    <mat-divider></mat-divider>
  </section>
</div>
