<app-heading-panel [title]="title"></app-heading-panel>
<div class="principal-column mat-body-1">
  <mat-spinner *ngIf="loading" class="page-spinner" diameter="50"> </mat-spinner>
  <mat-error *ngIf="error"> Something has gone, we're looking into it, please try again later. </mat-error>
  <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title><h3>Sign up</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input formControlName="name" matInput maxLength="30" placeholder="Name" required />
          <mat-error [appFieldErrors]="form.controls.name"></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="organisation" matInput maxLength="50" placeholder="Organisation name" required />
          <mat-error [appFieldErrors]="form.controls.organisation"></mat-error>
        </mat-form-field>
        <mat-error *ngIf="formError">
          {{ formError }}
        </mat-error>
      </mat-card-content>
      <mat-card-actions>
        <app-async-button [processing]="processing">
          <button mat-flat-button color="primary" type="submit">Sign up</button>
        </app-async-button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
