@import './../../../../styles/includes';

:host {
  padding: 40px 0 38px;
  margin: 0 (-$gutter) $heading-panel-margin-bottom;
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: center;
  text-align: center;
  &.has-tabs {
    padding-bottom: 78px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
  }
  h1 {
    margin-bottom: 0;
  }
  &.has-sub-heading,
  &.has-back-button {
    display: flex;
    flex-direction: column;
  }
  h6,
  .mat-h6 {
    margin-top: 15px;
    color: #aaa; // TODO
  }
  > div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    mat-icon {
      color: $blue;
    }
  }
}
