<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-card class="form-card full-page-card">
    <mat-card-header>
      <mat-card-title><h3>Create a new Organisation</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input formControlName="name" matInput maxLength="30" placeholder="Name" />
        <mat-error [appFieldErrors]="form.controls.name"></mat-error>
      </mat-form-field>
      <mat-error *ngIf="formError">
        {{ formError }}
      </mat-error>
    </mat-card-content>
    <mat-card-actions>
      <app-async-button [processing]="processing">
        <button mat-flat-button color="primary" type="submit">Create</button>
      </app-async-button>
    </mat-card-actions>
  </mat-card>
</form>
