<h3 mat-dialog-title>Delete account</h3>
<div mat-dialog-content>
  <div *ngIf="!cognitoDeletionFailed">
    <p>If you wish to delete your account, please type the word "delete" into the text below to confirm.</p>
    <p>Once the deletion has completed you will then be logged out automatically.</p>
    <form [formGroup]="form">
      <mat-form-field>
        <input formControlName="confirmation" matInput placeholder="Type 'delete' in here to confirm" required />
        <mat-error [appFieldErrors]="form.controls.confirmation"></mat-error>
      </mat-form-field>
    </form>
  </div>
  <mat-error *ngIf="cognitoDeletionFailed">
    There has been an error deleting your account, we will fix this issue as soon as possible so please try again later.
  </mat-error>
</div>
<div mat-dialog-actions>
  <app-async-button *ngIf="!cognitoDeletionFailed" [processing]="processing">
    <button mat-flat-button color="primary" (click)="onConfirm()">Delete account</button>
  </app-async-button>
  <button mat-stroked-button color="warn" (click)="closeDialog()">
    {{ cognitoDeletionFailed ? 'Ok' : 'Cancel' }}
  </button>
</div>
