
<div class="hero-panel">
  <div class="focal-column">
    <div class="text">
      <h1>Lorem ipsum</h1>
      <p>Nulla vulputate sodales ante, ut semper magna ultricies id. Curabitur eu bibendum eros, in tincidunt mi.</p>
      <p>Aliquam erat volutpat. Cras viverra nisl commodo pharetra ultricies. Suspendisse faucibus sapien quis eleifend placerat. Vivamus semper nisl in fringilla congue.</p>
      <button mat-flat-button color="primary">Try {{ appName }} for free</button>
    </div>
  </div>
</div>
<div class="focal-column">
  <ul class="image-promos">
    <li class="standard">
      <img src="https://via.placeholder.com/530x350" class="responsive" />
      <div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non urna ex. Ut imperdiet arcu ornare.
        </p>
        <button mat-flat-button color="primary">Lorem ipsum</button>
      </div>
    </li>
    <li class="reverse">
      <img src="https://via.placeholder.com/530x350" class="responsive" />
      <div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non urna ex. Ut imperdiet arcu ornare.
        </p>
        <button mat-flat-button color="primary">Lorem ipsum</button>
      </div>
    </li>
    <li class="standard">
      <img src="https://via.placeholder.com/530x350" class="responsive" />
      <div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non urna ex. Ut imperdiet arcu ornare.
        </p>
        <button mat-flat-button color="primary">Lorem ipsum</button>
      </div>
    </li>
  </ul>
  <div class="promo-panel supported">
    <div class="panel-heading">
      <strong class="mat-h6">If you use it</strong>
      <p class="mat-h2">We probably support it</p>
    </div>
    <ul>
      <li>
        <a>
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggZmlsbD0iIzUxMmJkNCIgZD0iTTAgMGg4MHY4MEgweiIvPjxwYXRoIGQ9Ik0xNC4yNiA1MS4xMWEyIDIgMCAwMS0xLjQ0LS41NiAxLjkgMS45IDAgMDEwLTIuNzcgMiAyIDAgMDExLjQ0LS41OCAyIDIgMCAwMTEuNDUuNTggMS44OCAxLjg4IDAgMDEwIDIuNzcgMiAyIDAgMDEtMS40NS41NnptMjIuNjEtLjMyaC0zLjY4bC05LjY4LTE1LjI4YTYuNzggNi43OCAwIDAxLS42MS0xLjJoLS4wOWEyMC41MyAyMC41MyAwIDAxLjEyIDIuODV2MTMuNjNoLTMuMjZWMzBoMy45MkwzMyA0NC45MmMuNC42Mi42NSAxIC43NyAxLjI4aC4wNWExOS42OCAxOS42OCAwIDAxLS4xNC0yLjhWMzBoMy4yNHptMTUuODQgMEg0MS4zM1YzMGgxMC45M3YyLjkzaC03LjU3djUuODloN3YyLjkxaC03djYuMTVoOHptMTYuMTgtMTcuODZoLTUuODN2MTcuODZoLTMuMzdWMzIuOTNoLTUuODFWMzBoMTV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+">
        </a>
      </li>
      <li>
        <a>
          <img src="/assets/images/php.gif" />
        </a>
      </li>
      <li>
        <a routerLink="/product/for/node">
          <img src="/assets/images/node.gif" />
        </a>
      </li>
      <li>
        <a>
          <img src="https://via.placeholder.com/94x94" />
        </a>
      </li>
      <li>
        <a>
          <img src="https://via.placeholder.com/94x94" />
        </a>
      </li>
    </ul>
  </div>
  <div class="facet-panel promo-panel">
    <div class="panel-heading">
      <strong class="mat-h6">Mauris aliquam </strong>
      <strong class="mat-h2">Donec feugiat velit a purus varius</strong>
    </div>
    <ul>
      <li>
        <h4>Fusce volutpat justo et</h4>
        <p>
          Etiam dignissim, dolor ut efficitur lobortis, risus tortor rhoncus massa, vehicula malesuada metus nunc ut elit.
        </p>
      </li>
      <li>
        <h4>Vestibulum convallis</h4>
        <p>
          Sed efficitur ut nisl in dignissim. Etiam a porta lacus. In id tincidunt justo
        </p>
      </li>
      <li>
        <h4>Aenean molestie euismod</h4>
        <p>
          Vivamus sed ultricies dolor, eget commodo sapien.  Morbi velit sem, porttitor quis arcu vel.
        </p>
      </li>
    </ul>
    <button mat-flat-button color="primary">Try {{ appName }} for free</button>
  </div>
  <div class="vimeo-panel">
    <div class="panel-heading">
      <h2>We help software teams buildbetter software, faster.</h2>
      <strong class="mat-h6">See for yourself how it works</strong>
    </div>
    <app-vimeo-video id="253989945"></app-vimeo-video>
  </div>
</div>
