<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title class="mat-h2">Sign up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input formControlName="name" matInput maxLength="30" placeholder="Name" required />
        <mat-error [appFieldErrors]="form.controls.name"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="organisation" matInput maxLength="50" placeholder="Organisation name" required />
        <mat-error [appFieldErrors]="form.controls.organisation"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" required />
        <mat-error [appFieldErrors]="form.controls.email"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password1" matInput placeholder="Password" required type="password" />
        <mat-error [appFieldErrors]="form.controls.password1"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password2" matInput placeholder="Re-enter password" required type="password" />
        <mat-error [appFieldErrors]="form.controls.password2"></mat-error>
      </mat-form-field>
      <div class="vertical-checkboxes pseudo-mat-form-field">
        <mat-checkbox formControlName="termsAccepted" class="text-wrap">
          I accept the
          <a routerLink="/terms-of-service">Terms of service</a> and the
          <a routerLink="/privacy-policy">Privacy policy</a>.
        </mat-checkbox>
        <mat-error [appFieldErrors]="form.controls.termsAccepted" [formSubmitted]="submitted"> </mat-error>
      </div>
      <mat-error *ngIf="formError">
        Oh no! Something has gone wrong. We'll look into it, please try again later.
      </mat-error>
    </mat-card-content>
    <mat-card-actions class="adjacent">
      <app-async-button [processing]="processing">
        <button mat-flat-button color="primary" type="submit">Save</button>
      </app-async-button>
      <app-google-login mat-button></app-google-login>
    </mat-card-actions>
  </mat-card>
</form>
