<a class="logo" routerLink="/"></a>
<ng-container *ngTemplateOutlet="links; context: { $implicit: false }"></ng-container>
<button mat-button [matMenuTriggerFor]="menu" class="links-dropdown-button">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngTemplateOutlet="links; context: { $implicit: true }"></ng-container>
</mat-menu>
<ng-template #links let-displayAsMenu>
  <ul>
    <li>
      <a routerLink="/members/projects" mat-menu-item="displayAsMenu">Projects</a>
    </li>
  </ul>
</ng-template>
<button *ngIf="settingsMenuLoaded" mat-button [matMenuTriggerFor]="profileMenu" class="settings-dropdown-button">
  <div>
    <p>
      <strong>{{ accountName }} </strong>
      <small>{{ selectedOrganisationName }}<span>, 7 projects</span></small>
    </p>
    <mat-icon>expand_more</mat-icon>
  </div>
</button>
<mat-menu #profileMenu="matMenu">
  <ul>
    <li>
      <a routerLink="/members/settings/account/details" mat-menu-item>Account settings</a>
    </li>
    <li>
      <a routerLink="/members/settings/organisation/general" mat-menu-item>Organisation settings</a>
    </li>
    <li *ngIf="switchableOrganisations.length > 0">
      <a mat-menu-item [matMenuTriggerFor]="organisationMenu">Switch organisation</a>
    </li>
    <li>
      <a (click)="logout()" mat-menu-item>Logout</a>
    </li>
  </ul>
</mat-menu>
<mat-menu #organisationMenu="matMenu">
  <button
    *ngFor="let organisation of switchableOrganisations" mat-menu-item
    (click)="onSwitchOrganisation(organisation)">
    {{  organisation.name }}
  </button>
</mat-menu>
