@import './../../../../styles/includes';

:host {
  padding: 10px $gutter;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  background: white;
  &.authenticated .menu-btn {
    margin-left: 10px;
  }
}
.logo {
  flex-basis: 36px;
  height: 36px;
  display: flex;
  background: url(https://via.placeholder.com/36x36);
  background-size: contain;
  background-repeat: no-repeat;
  @include media-breakpoint-up(sm) {
    flex-basis: 126px;
    background: url(https://via.placeholder.com/126x36);
  }
}
.logo + ul {
  margin-left: 40px;
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
    flex: 1 0 auto;
    li:nth-child(2) {
      margin-left: auto;
    }
  }
  a {
    position: relative;
    overflow: visible;
    &:hover::after {
      display: block;
    }
    &::after {
      position: absolute;
      bottom: -11px;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      display: none;
      background-color: $blue;
      content: '';
    }
  }
}
.links-dropdown-button {
  min-width: 20px;
  padding: 0;
  margin: 0 auto 0 20px;
  font-size: 15px;
  @include media-breakpoint-up(md) {
    display: none;
  }
  mat-icon {
    margin-top: -2px;
    font-size: 25px;
  }
}
.settings-dropdown-button {
  height: 36px;
  margin: 0 0 0 15px;
  div {
    display: flex;
  }
  p {
    margin: -11px 0 0;
    padding: 0 2px 0;
    text-align: right;
    strong, small {
      max-width: 160px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: block;
      @include media-breakpoint-up(sm) {
        max-width: 300px;
      }
    }
    small {
      margin: -8px 0 0;
      display: block;
      line-height: 15px;
      span {
        display: none;
        @include media-breakpoint-up(sm) {
          display: inline;
        }
      }
    }
  }
  mat-icon {
    width: 16px;
    height: 15px;
    margin: 16px 0 0 0;
    font-size: 16px;
  }
}
ul a:hover {
  background: none;
}
