<mat-spinner *ngIf="!authenticatedUser" class="page-spinner" diameter="50"> </mat-spinner>
<h2>Edit account</h2>
<div *ngIf="authenticatedUser">
  <p>Email: {{ email }}</p>
  <p>
    <span *ngIf="emailVerified" class="verified verification-status">
      <mat-icon>verified</mat-icon>
      <span>Your email is verified</span>
    </span>
    <span *ngIf="!emailVerified" class="unverified verification-status">
      <mat-icon>priority_high</mat-icon>
      <span> Unverified - <a (click)="resendVerificationCode()">click here</a> to resend verification code. </span>
    </span>
  </p>
</div>
<button class="responsive-button change-email-btn" mat-flat-button color="primary" (click)="openChangeEmailDialog()">
  Change email
</button>
<button
  class="responsive-button change-password-btn"
  mat-flat-button
  color="primary"
  (click)="openChangePasswordDialog()"
>
  Change password
</button>

<button
  class="responsive-button change-password-btn"
  mat-flat-button
  color="primary"
  (click)="openDeleteAccountDialog()"
>
  Delete account
</button>
