@import './../../../../styles/includes';

app-faqs {
  display: block;
  margin-bottom: 40px;
  .mat-expansion-panel-header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto !important;
  }
  .mat-expansion-panel-body,
  .mat-expansion-panel-header {
    padding-left: $gutter;
    padding-right: $gutter;
    @include media-breakpoint-up(md) {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }
  .mat-expansion-panel-header-description {
    width: 17px;
    margin-right: 0;
    margin-top: -3px;
    align-self: center;
  }
  .mat-expansion-panel-header-title {
    font-size: 16px;
  }
  .mat-expansion-panel {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  .mat-icon {
    font-size: 32px;
    margin-top: -4px;
  }
}

