$primary-palette: (
  50: #fae4ef,
  100: #f2bad6,
  200: #ea8dbb,
  300: #e15fa0,
  400: #da3c8b,
  500: #d41a77,
  600: #cf176f,
  700: #c91364,
  800: #c30f5a,
  900: #b90847,
  A100: #ffe4ec,
  A200: #ffb1c9,
  A400: #ff7ea5,
  A700: #ff6493,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #290e0e,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$accent-palette: (
  50: #e6e4e9,
  100: #c0bac8,
  200: #978da3,
  300: #6d5f7e,
  400: #4d3c63,
  500: #4d3c63,
  600: #291740,
  700: #231337,
  800: #1d0f2f,
  900: #120820,
  A100: #975eff,
  A200: #762bff,
  A400: #5700f7,
  A700: #4e00de,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$warn-palette: (
  50: #fde5e6,
  100: #fbbfbf,
  200: #f89495,
  300: #f5696b,
  400: #f2494b,
  500: #f0292b,
  600: #ee2426,
  700: #ec1f20,
  800: #e9191a,
  900: #e50f10,
  A100: #ffffff,
  A200: #ffdede,
  A400: #ffabab,
  A700: #ff9192,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
