/****************************************************************
************************* Structural  ***************************
****************************************************************/
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
$gutter: 15px;
$border-radius: 4px;
/****************************************************************
**************************** Colors  ****************************
****************************************************************/
$blue: #1eb9d6;
$blue-denim: #6e9ef7;
$gray: #d9d9de;
$gray-dark: #444;
$green-dark: #0f2105;
$green: #0f5132;
$green-light2: #badbcc;
$green-light: #d1e7dd;
$off-white: #f6f6f8;
$purple: #49499a;
$red: #842029;
$red-light: #f8d7da;
$red-light2: #f5c2c7;
$grey-rgba: rgba(0, 0, 0, 0.12);
$temp1: #310f32;
/****************************************************************
***************************** Misc  *****************************
****************************************************************/
$promo-paragraph-line-height: 2;
$heading-panel-margin-bottom: 40px;
