/****************************************************************
************************* Structural  ***************************
****************************************************************/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
$gutter: 15px;
/****************************************************************
**************************** Colors  ****************************
****************************************************************/
$blue: #1eb9d6;
$gray: #d9d9de;
$gray-dark: #444;
$green-dark: #0f2105;
$green: #00ff00;
$off-white: #f8f8f8;
$purple: #49499a;
$red: #f44336;
