<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field>
    <input cdkFocusInitial formControlName="currentPassword" matInput placeholder="Current password" required />
    <mat-error [appFieldErrors]="form.controls.currentPassword"></mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password1" matInput placeholder="Password" required type="password" />
    <mat-error [appFieldErrors]="form.controls.password1"></mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password2" matInput placeholder="Re-enter password" required type="password" />
    <mat-error [appFieldErrors]="form.controls.password2"></mat-error>
  </mat-form-field>
  <mat-error *ngIf="!errorMessage">
    {{ errorMessage }}
  </mat-error>
  <app-async-button
    [processing]="processing"
    [success]="success">
    <button
      color="primary"
      [disabled]="success"
      mat-flat-button
      type="submit">
      Save
    </button>
  </app-async-button>
</form>
